/* .content {
    margin: 0 auto;
    width: 479px;
    max-width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #E55D87, #5FC3E4);
} */

/* REUSE COMPONENT */
.modal-content {
    border-radius: 10px;
}
.choosen-background-class div {
    background-color: #cfcfcf;
}



.navbar{
    color:white;
    position: fixed;
    top: 0px;
    display:flex;
    flex: 1;
    justify-content: space-between;
    width: 720px;
    max-width: calc(100%);
    flex-grow: 1;
    padding: 5px 10px;
    align-items: center;
    background-color: #5a5555;
    z-index: 99999;
}
.navbar img {
    width: 40px;
}
.navbar span {
    display: inline-block;
    max-width: 140px;
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
    line-height: 1.7 rem;
}

.user-icon {
    font-size: 3rem;
}

.container-view {
    position: relative;
    min-height: calc(100vh - 40px);
    padding-top: 50px;
}
h3 {
    font-size: 160%;
}
h4 {
    font-size: 130%;
    color: #3d3d3d
}
.header__infor {
    /* position: absolute; */
    /* width: 100vw; */
    top: 0px;
    left: 0px;
    /* transition: 0.3s ease; */
}

.information {
    background-color: white;
    width: 85%;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 2px 5px 1px #888888;
    transition: 0.3s ease;
}
.infor__avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
    float: left;
    position: relative;
    top: -20px;
    left: -1px;
    transition: 0.3s ease;
}

.infor__description{
    margin-left: 10px;
}


.sticky  {
    position: fixed;
    top: 0px;
    left: 0px;
}

.sticky .information {
    margin-top: 0px;
    width: 95%;
}

.sticky .infor__avatar {
    top: 0px;
    width: 70px;
    height: 70px;
}

.sticky .infor__bio {
    display: none;
}


.link-list {
    flex: 1;
    /* margin-top: 190px; */
}
.item {
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
    background-color: white;
    width: 95%;
    display: flex;
    align-items: center;
}

.sort-icon {
    position: absolute;
    right: 6%;
}
.sort-icon i {
    color:rgb(126, 126, 126);
    font-size: 3rem;
}

a + a {
    margin-top: 10px;
}

.type-logo {
    width: 50px;
    margin-right: 20px;
}

footer {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 100vw;
    background-color: white;
    text-align: center;
    line-height: 50px;
}

.follme-logo {
    width: 30px;
    margin-top: 5px;
}

footer h4 {
    margin: 0;
    line-height: 35px;
}
.link-infor {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 10px;
}
.link-infor span {
    color: var(--text-color);
    font-size: 1.4rem;
}
.link-infor__qr i {
    color: var(--theme-color);
    font-size: 3.5rem;
}
.nav {
    color: black;
    font-size: 1.5rem;
}


span.link-text {
    color: rgb(126, 126, 126);
}

.link-infor__text i {
    margin-left: 10px;
    font-size: 2.1rem;
}

.nav-link {
    color: var(--text-color);
    display: block;
    padding: 0.8rem 1rem;
}
.nav-link.active {
    background-color: var(--theme-color)!important;
}

.nav-pills::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgb(202, 202, 202);
}

/*  */
#pills-home{
    text-align: center;
}

.config__avatar {
    display: block;
    margin: 50px auto 20px auto; 
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}
.button {
    font-weight: 500;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: inline-block;
    padding: 10px 30px;
}

.button__upload-avatar {
    background-color: var(--foreign-color);
}
.button__save-infor {
    margin-top: 10px;
    background-color: var(--theme-color);
}
.button__save-infor i {
    margin-right: 10px;
}

#image-demo {
    margin-top: 30px;
}

.avatar-modal {
    width: 80%;
    margin: 0 auto;
    min-height: 100px;
    position: fixed;
    top: 50px;
    background-color: aliceblue;
}

.modal h5 {
    font-size: 1.6rem;
}
.modal .btn {
    border: none;
    padding: 0.4rem 1.75rem;
    font-size: 1.5rem;
}
.btn-confirm {
    background-color: var(--theme-color);
}
.container-infor {
    font-size: 1.5rem;
    text-align: left;
    width: 77%;
    margin: 0 auto;
}


.form-control {
    font-size: 1.5rem;
}
input.form-control {
    height: 40px;
}
textarea.form-control {
    line-height: 30px;
}
.container-infor label {
    font-weight: 500;
}

/*  */
.infor__name {
    margin: 10px 0;
}

.link-list {
    margin-top: 60px;
}

.create-link {
    cursor: pointer;
    font-size: 150%;
    text-align: center;
    margin: 30px auto 10px;
    width: 140px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid black;
    border-radius: 4px;
}

.create-link i {
    margin-right: 8px;
}

.create-link:hover {
    background-color: black;
    color: white;
}
.form-select {
    height: 40px;
    font-size: 1.7rem;
}

.form-select option {
    padding: 50px 0;
}

.btn-modal {
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 7px 15px;
}

.btn-primary {
    background-color: var(--theme-color);
}
